extends layout

block content
  p Welcome
  h3 Sensor control
  button#sendCommand Measure
  p#status
  h3 Sensor output
  button#updateButton Update
  p#sensorData

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js") 
